* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side {
  background-color: aqua;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 7px 5px;
  transition: transform 400ms, box-shadow 400ms;

  /*
  background-color: aqua; - Está relacionado a cor de fundo do botão;
  border: none; - Está relacionado a presença ou ausência de borda, e seu tipo caso haja;
  padding: 15px; - Está relacionado ao posicionamento do elemento em bloco;
  border-radius: 8px; - Está relacionado ao formato do botão, no casso desse código o usei para deixar o botão com aspencto arredondado;
  cursor: pointer; - Está relacionado a aparência do cursor quando em cima do elemento;
  box-shadow: 3px 7px 5px; - Está relacionado ao efeito de sombra;
  transition: transform 400ms, box-shadow 400ms; - Está relacionado a estética do efeito de apertar o botão;
   */
}

.side:hover {
  background-color: rgb(0, 199, 199);
}

.side:active {
  box-shadow: 2px 3px 1px;
  transform: translate(4px, 6px);
  background-color: rgb(0, 118, 118);
}

.top {
  background-color: rgb(228, 228, 228);
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 7px 5px;
  transition: transform 400ms, box-shadow 400ms;
  opacity: 1;
}

.top:hover {
  background-color: rgb(128, 0, 153);
}

.top:active {
  box-shadow: 2px 3px 1px;
  transform: translate(4px, 6px);
  background-color: rgb(101, 0, 121);
}

.header {
  background-color: rgb(212, 0, 255);
  padding: 20px;
  width: 100%;
  text-align: center;
}

.header .button {
  padding: 10px 5px;
  
}

.header .button:active {
  background-color: blue;
  color: white;
}

.header .dropdown {
  position: relative;
  display: inline-block;
}

.header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}

.header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header .dropdown:active .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: right;
}

.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  background-color: rgb(255, 0, 212);
  width: 20vw;
  height: 1200px;
}

.content {
  background-color: rgb(0, 170, 255);
  width: 80vw;
  height: 1200px;
}

.conteudo {
  padding: 50px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: fit-content;
  }

  .content {
    width: 100%;
  }
}

.loader {
  width: 500px;
  height: 500px;
  border: 50px solid rgb(114, 0, 137);
  border-bottom-color: rgb(255, 0, 212);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.carregando {
  padding: 350px;
}

@media (max-width: 768px) {
  .container {
      flex-direction: column-reverse;
  }
  
  .menu {
      width: 100%;
      height: auto;
      padding: 10px;
  }
  
  .content {
      order: 1;
      padding: 20px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
